<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="{{ path('index') }}"><i class="fa fa-user"></i> Autors</a>
            </li>
            <li>
                <a href="{{ path('editeur_index') }}"><i class="fa fa-pencil"></i> Editors</a>
            </li>
            <li>
                <a href="{{ path('categorie_index') }}"><i class="fa fa-folder"></i> Categories</a>
            </li>
            <li>
                <a href="{{ path('livre_index') }}"><i class="fa fa-book"></i> Books</a>
            </li>
            <li>
                <a href="{{ path('admin') }}"><i class="fa fa-book"></i> users</a>
            </li>

        </ul>

    </div>

</nav>
